<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxxz.lv.mapper.UserInfoMapper">
<resultMap id="user" type="com.zxxz.lv.entity.UserInfo">
    <id property="id" column="Id"></id>
    <result property="username" column="username" />
    <result property="password" column="password" />
    <result property="usertype" column="usertype" />
    <result property="enabled" column="enabled" />
    <result property="qq" column="qq" />
    <result property="email" column="email" />
    <result property="tel" column="tel" />

</resultMap>

    <select id="count" resultMap="user" parameterType="string" resultType="list">
        select * FROM user_info where username = #{userName}
    </select>

    <select id="getByName" resultMap="user" parameterType="string" resultType="list">
        select * FROM user_info where username = #{userName}
    </select>

    <select id="queryAll" resultMap="user" resultType="list">
        select * FROM user_info limit #{index},#{pageSize}
    </select>

</mapper>